---
http_interactions:
- request:
    method: get
    uri: https://api.resumatorapi.com/v1/jobs?apikey=fake-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"job_20191016203908_KID5ZUVTNJYDDUZG","team_id":"","title":"Graphic
        Designer","country_id":"United States","city":"","state":"","zip":"","department":"","description":"<p>Design
        all the things!<\/p>","minimum_salary":"0","maximum_salary":"0","notes":"","original_open_date":"2019-10-16","type":"Full
        Time","status":"Drafting","send_to_job_boards":"No answer","hiring_lead":"usr_20191016193456_DWYSYV1EX9WMEFZX","board_code":"xbyK3SqoXK","internal_code":"","questionnaire":"0"},{"id":"job_20191016193456_XGSWRU2DDZPU9Y2T","team_id":"","title":"Sample
        Job","country_id":"United States","city":"Pittsburgh","state":"PA","zip":"15212","department":"","description":"<p>You
        can enter a detailed, formatted description of your position.<\/p><p>We have
        a fully featured WYSIWYG editor which enables you to craft that perfectly
        formatted bulleted list. So go get that new candidate!","minimum_salary":"0","maximum_salary":"0","notes":"","original_open_date":"2019-10-16","type":"Full
        Time","status":"On Hold","send_to_job_boards":"No answer","hiring_lead":"usr_20191016193456_DWYSYV1EX9WMEFZX","board_code":"X8P7SBPn4N","internal_code":"","questionnaire":"0"}]'
  recorded_at: Thu, 17 Oct 2019 20:07:43 GMT
recorded_with: VCR 5.0.0
